.my-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.my-table-head-wrapper {
  flex: none;
  overflow: hidden;
}
.my-table-body-wrapper {
  flex: auto;
  overflow-x: auto;
  overflow-y: scroll;
}

.my-table td {
  margin: 0;
  padding: 0;
}
